<section id="home" data-type="background" data-speed="10">
  <div class="jumbotron text-center">
  <h1>GUSTERESTING</h1>
  <p>Load your pins and have fun!</p></br>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %></br>
    </p>
  </div>
</section>