<div class="jumbotron text-center">
  <h1>GUSTERESTING</h1>
  <p>Load your pins and have fun!</p></br>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></br>
    </p>
</div>