<div class="text-center" id="about">
  <h1>About</h1></br>
  <p>This is a really cool pinterest like web app made by <%= link_to "Gustavo Varallo", "http://varallo.me", :target => "_blank" %></p></br>
  <%= link_to 'Back', root_path, class: "btn btn-default btn-lg" %>
</div>