@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-inverse-bg: #27ae60;
$navbar-inverse-link-color: white;
$brand-primary: #f39c12;
$brand-success: #27ae60;
$icon-font-path: 'bootstrap/'; /*Corrects the issue of not showing glyphicons */

@import 'bootstrap';
@import "bootstrap-sprockets";

#home { 
background: url(iPhone.jpg) 50% 0 repeat fixed; min-height: 350px;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background-color: transparent;
}

.navbar-brand {
  font-weight: bold;
}

.checkbox {
  margin-left: 22px;
}

.jumbotron h1 {
  font-family: 'Sigmar One', cursive;
  color: #f39c12;
}

.jumbotron h1 span {
  font-family: 'Sigmar One', cursive;
  color: #27ae60;
}

.navbar-header {
  font-family: 'Sigmar One', cursive;
}



