@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-inverse-link-color: #fff;
$brand-success: #fff;
$icon-font-path: 'bootstrap/'; /*Corrects the issue of not showing glyphicons */

@import 'bootstrap';

#home { 
  background: url(space.jpg) 50% 0 repeat fixed; 
  min-height: 350px; /* Allows background to go as down as possible */
}

.jumbotron {
  height: 650px;
  color: #fff;
  background-color: transparent;
  padding-top: 200px;
}

.jumbotron h1 {
  font-family: 'Sigmar One', cursive;
  color: #fff;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-header {
  font-family: 'Sigmar One', cursive;
}

.checkbox {
  margin-left: 22px;
}

a:link {color: #000; text-decoration: none; }
a:active {color: #000; text-decoration: none; }
a:visited {color: #000; text-decoration: none; }
a:hover {color: #000; text-decoration: underline; }

.new_pin {
  color: #000;
}

.panel-footer {
  a:link {color: #000; text-decoration: none; }
  a:active {color: #000; text-decoration: none; }
  a:visited {color: #000; text-decoration: none; }
  a:hover {color: #000; text-decoration: underline; }
}

